// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-black-name: 'arrow-black';
$arrow-black-x: 296px;
$arrow-black-y: 339px;
$arrow-black-offset-x: -296px;
$arrow-black-offset-y: -339px;
$arrow-black-width: 18px;
$arrow-black-height: 16px;
$arrow-black-total-width: 422px;
$arrow-black-total-height: 369px;
$arrow-black-image: '../img/sprite.png';
$arrow-black: (296px, 339px, -296px, -339px, 18px, 16px, 422px, 369px, '../img/sprite.png', 'arrow-black', );
$arrow-pink-sm-name: 'arrow-pink-sm';
$arrow-pink-sm-x: 364px;
$arrow-pink-sm-y: 339px;
$arrow-pink-sm-offset-x: -364px;
$arrow-pink-sm-offset-y: -339px;
$arrow-pink-sm-width: 9px;
$arrow-pink-sm-height: 8px;
$arrow-pink-sm-total-width: 422px;
$arrow-pink-sm-total-height: 369px;
$arrow-pink-sm-image: '../img/sprite.png';
$arrow-pink-sm: (364px, 339px, -364px, -339px, 9px, 8px, 422px, 369px, '../img/sprite.png', 'arrow-pink-sm', );
$arrow-pink-name: 'arrow-pink';
$arrow-pink-x: 258px;
$arrow-pink-y: 339px;
$arrow-pink-offset-x: -258px;
$arrow-pink-offset-y: -339px;
$arrow-pink-width: 18px;
$arrow-pink-height: 16px;
$arrow-pink-total-width: 422px;
$arrow-pink-total-height: 369px;
$arrow-pink-image: '../img/sprite.png';
$arrow-pink: (258px, 339px, -258px, -339px, 18px, 16px, 422px, 369px, '../img/sprite.png', 'arrow-pink', );
$arrow-white-name: 'arrow-white';
$arrow-white-x: 220px;
$arrow-white-y: 339px;
$arrow-white-offset-x: -220px;
$arrow-white-offset-y: -339px;
$arrow-white-width: 18px;
$arrow-white-height: 16px;
$arrow-white-total-width: 422px;
$arrow-white-total-height: 369px;
$arrow-white-image: '../img/sprite.png';
$arrow-white: (220px, 339px, -220px, -339px, 18px, 16px, 422px, 369px, '../img/sprite.png', 'arrow-white', );
$audio-name: 'audio';
$audio-x: 382px;
$audio-y: 115px;
$audio-offset-x: -382px;
$audio-offset-y: -115px;
$audio-width: 34px;
$audio-height: 30px;
$audio-total-width: 422px;
$audio-total-height: 369px;
$audio-image: '../img/sprite.png';
$audio: (382px, 115px, -382px, -115px, 34px, 30px, 422px, 369px, '../img/sprite.png', 'audio', );
$award-name: 'award';
$award-x: 292px;
$award-y: 180px;
$award-offset-x: -292px;
$award-offset-y: -180px;
$award-width: 44px;
$award-height: 49px;
$award-total-width: 422px;
$award-total-height: 369px;
$award-image: '../img/sprite.png';
$award: (292px, 180px, -292px, -180px, 44px, 49px, 422px, 369px, '../img/sprite.png', 'award', );
$box-name: 'box';
$box-x: 0px;
$box-y: 249px;
$box-offset-x: 0px;
$box-offset-y: -249px;
$box-width: 70px;
$box-height: 70px;
$box-total-width: 422px;
$box-total-height: 369px;
$box-image: '../img/sprite.png';
$box: (0px, 249px, 0px, -249px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'box', );
$calendar-name: 'calendar';
$calendar-x: 90px;
$calendar-y: 249px;
$calendar-offset-x: -90px;
$calendar-offset-y: -249px;
$calendar-width: 70px;
$calendar-height: 70px;
$calendar-total-width: 422px;
$calendar-total-height: 369px;
$calendar-image: '../img/sprite.png';
$calendar: (90px, 249px, -90px, -249px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'calendar', );
$drop-lg-name: 'drop-lg';
$drop-lg-x: 0px;
$drop-lg-y: 0px;
$drop-lg-offset-x: 0px;
$drop-lg-offset-y: 0px;
$drop-lg-width: 182px;
$drop-lg-height: 229px;
$drop-lg-total-width: 422px;
$drop-lg-total-height: 369px;
$drop-lg-image: '../img/sprite.png';
$drop-lg: (0px, 0px, 0px, 0px, 182px, 229px, 422px, 369px, '../img/sprite.png', 'drop-lg', );
$drop-name: 'drop';
$drop-x: 334px;
$drop-y: 249px;
$drop-offset-x: -334px;
$drop-offset-y: -249px;
$drop-width: 26px;
$drop-height: 32px;
$drop-total-width: 422px;
$drop-total-height: 369px;
$drop-image: '../img/sprite.png';
$drop: (334px, 249px, -334px, -249px, 26px, 32px, 422px, 369px, '../img/sprite.png', 'drop', );
$fb-white-name: 'fb-white';
$fb-white-x: 140px;
$fb-white-y: 339px;
$fb-white-offset-x: -140px;
$fb-white-offset-y: -339px;
$fb-white-width: 20px;
$fb-white-height: 20px;
$fb-white-total-width: 422px;
$fb-white-total-height: 369px;
$fb-white-image: '../img/sprite.png';
$fb-white: (140px, 339px, -140px, -339px, 20px, 20px, 422px, 369px, '../img/sprite.png', 'fb-white', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 339px;
$fb-offset-x: 0px;
$fb-offset-y: -339px;
$fb-width: 30px;
$fb-height: 30px;
$fb-total-width: 422px;
$fb-total-height: 369px;
$fb-image: '../img/sprite.png';
$fb: (0px, 339px, 0px, -339px, 30px, 30px, 422px, 369px, '../img/sprite.png', 'fb', );
$forward-name: 'forward';
$forward-x: 292px;
$forward-y: 0px;
$forward-offset-x: -292px;
$forward-offset-y: 0px;
$forward-width: 70px;
$forward-height: 70px;
$forward-total-width: 422px;
$forward-total-height: 369px;
$forward-image: '../img/sprite.png';
$forward: (292px, 0px, -292px, 0px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'forward', );
$gift-name: 'gift';
$gift-x: 202px;
$gift-y: 180px;
$gift-offset-x: -202px;
$gift-offset-y: -180px;
$gift-width: 44px;
$gift-height: 49px;
$gift-total-width: 422px;
$gift-total-height: 369px;
$gift-image: '../img/sprite.png';
$gift: (202px, 180px, -202px, -180px, 44px, 49px, 422px, 369px, '../img/sprite.png', 'gift', );
$glove-sm-name: 'glove-sm';
$glove-sm-x: 270px;
$glove-sm-y: 249px;
$glove-sm-offset-x: -270px;
$glove-sm-offset-y: -249px;
$glove-sm-width: 44px;
$glove-sm-height: 49px;
$glove-sm-total-width: 422px;
$glove-sm-total-height: 369px;
$glove-sm-image: '../img/sprite.png';
$glove-sm: (270px, 249px, -270px, -249px, 44px, 49px, 422px, 369px, '../img/sprite.png', 'glove-sm', );
$glove-name: 'glove';
$glove-x: 202px;
$glove-y: 90px;
$glove-offset-x: -202px;
$glove-offset-y: -90px;
$glove-width: 70px;
$glove-height: 70px;
$glove-total-width: 422px;
$glove-total-height: 369px;
$glove-image: '../img/sprite.png';
$glove: (202px, 90px, -202px, -90px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'glove', );
$hamburger-name: 'hamburger';
$hamburger-x: 382px;
$hamburger-y: 0px;
$hamburger-offset-x: -382px;
$hamburger-offset-y: 0px;
$hamburger-width: 40px;
$hamburger-height: 40px;
$hamburger-total-width: 422px;
$hamburger-total-height: 369px;
$hamburger-image: '../img/sprite.png';
$hamburger: (382px, 0px, -382px, 0px, 40px, 40px, 422px, 369px, '../img/sprite.png', 'hamburger', );
$in-white-name: 'in-white';
$in-white-x: 100px;
$in-white-y: 339px;
$in-white-offset-x: -100px;
$in-white-offset-y: -339px;
$in-white-width: 20px;
$in-white-height: 20px;
$in-white-total-width: 422px;
$in-white-total-height: 369px;
$in-white-image: '../img/sprite.png';
$in-white: (100px, 339px, -100px, -339px, 20px, 20px, 422px, 369px, '../img/sprite.png', 'in-white', );
$in-name: 'in';
$in-x: 50px;
$in-y: 339px;
$in-offset-x: -50px;
$in-offset-y: -339px;
$in-width: 30px;
$in-height: 30px;
$in-total-width: 422px;
$in-total-height: 369px;
$in-image: '../img/sprite.png';
$in: (50px, 339px, -50px, -339px, 30px, 30px, 422px, 369px, '../img/sprite.png', 'in', );
$nav-sep-name: 'nav-sep';
$nav-sep-x: 356px;
$nav-sep-y: 180px;
$nav-sep-offset-x: -356px;
$nav-sep-offset-y: -180px;
$nav-sep-width: 6px;
$nav-sep-height: 6px;
$nav-sep-total-width: 422px;
$nav-sep-total-height: 369px;
$nav-sep-image: '../img/sprite.png';
$nav-sep: (356px, 180px, -356px, -180px, 6px, 6px, 422px, 369px, '../img/sprite.png', 'nav-sep', );
$pin-name: 'pin';
$pin-x: 180px;
$pin-y: 249px;
$pin-offset-x: -180px;
$pin-offset-y: -249px;
$pin-width: 70px;
$pin-height: 70px;
$pin-total-width: 422px;
$pin-total-height: 369px;
$pin-image: '../img/sprite.png';
$pin: (180px, 249px, -180px, -249px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'pin', );
$pink-plus-name: 'pink-plus';
$pink-plus-x: 334px;
$pink-plus-y: 339px;
$pink-plus-offset-x: -334px;
$pink-plus-offset-y: -339px;
$pink-plus-width: 10px;
$pink-plus-height: 10px;
$pink-plus-total-width: 422px;
$pink-plus-total-height: 369px;
$pink-plus-image: '../img/sprite.png';
$pink-plus: (334px, 339px, -334px, -339px, 10px, 10px, 422px, 369px, '../img/sprite.png', 'pink-plus', );
$play-name: 'play';
$play-x: 382px;
$play-y: 165px;
$play-offset-x: -382px;
$play-offset-y: -165px;
$play-width: 27px;
$play-height: 37px;
$play-total-width: 422px;
$play-total-height: 369px;
$play-image: '../img/sprite.png';
$play: (382px, 165px, -382px, -165px, 27px, 37px, 422px, 369px, '../img/sprite.png', 'play', );
$question-name: 'question';
$question-x: 292px;
$question-y: 90px;
$question-offset-x: -292px;
$question-offset-y: -90px;
$question-width: 70px;
$question-height: 70px;
$question-total-width: 422px;
$question-total-height: 369px;
$question-image: '../img/sprite.png';
$question: (292px, 90px, -292px, -90px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'question', );
$rewind-name: 'rewind';
$rewind-x: 202px;
$rewind-y: 0px;
$rewind-offset-x: -202px;
$rewind-offset-y: 0px;
$rewind-width: 70px;
$rewind-height: 70px;
$rewind-total-width: 422px;
$rewind-total-height: 369px;
$rewind-image: '../img/sprite.png';
$rewind: (202px, 0px, -202px, 0px, 70px, 70px, 422px, 369px, '../img/sprite.png', 'rewind', );
$speaker-name: 'speaker';
$speaker-x: 382px;
$speaker-y: 60px;
$speaker-offset-x: -382px;
$speaker-offset-y: -60px;
$speaker-width: 35px;
$speaker-height: 35px;
$speaker-total-width: 422px;
$speaker-total-height: 369px;
$speaker-image: '../img/sprite.png';
$speaker: (382px, 60px, -382px, -60px, 35px, 35px, 422px, 369px, '../img/sprite.png', 'speaker', );
$time-name: 'time';
$time-x: 382px;
$time-y: 222px;
$time-offset-x: -382px;
$time-offset-y: -222px;
$time-width: 31px;
$time-height: 31px;
$time-total-width: 422px;
$time-total-height: 369px;
$time-image: '../img/sprite.png';
$time: (382px, 222px, -382px, -222px, 31px, 31px, 422px, 369px, '../img/sprite.png', 'time', );
$tw-white-name: 'tw-white';
$tw-white-x: 180px;
$tw-white-y: 339px;
$tw-white-offset-x: -180px;
$tw-white-offset-y: -339px;
$tw-white-width: 20px;
$tw-white-height: 20px;
$tw-white-total-width: 422px;
$tw-white-total-height: 369px;
$tw-white-image: '../img/sprite.png';
$tw-white: (180px, 339px, -180px, -339px, 20px, 20px, 422px, 369px, '../img/sprite.png', 'tw-white', );
$tw-name: 'tw';
$tw-x: 382px;
$tw-y: 273px;
$tw-offset-x: -382px;
$tw-offset-y: -273px;
$tw-width: 30px;
$tw-height: 30px;
$tw-total-width: 422px;
$tw-total-height: 369px;
$tw-image: '../img/sprite.png';
$tw: (382px, 273px, -382px, -273px, 30px, 30px, 422px, 369px, '../img/sprite.png', 'tw', );
$spritesheet-width: 422px;
$spritesheet-height: 369px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-black, $arrow-pink-sm, $arrow-pink, $arrow-white, $audio, $award, $box, $calendar, $drop-lg, $drop, $fb-white, $fb, $forward, $gift, $glove-sm, $glove, $hamburger, $in-white, $in, $nav-sep, $pin, $pink-plus, $play, $question, $rewind, $speaker, $time, $tw-white, $tw, );
$spritesheet: (422px, 369px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
