@import "../../../../node_modules/bootstrap/scss/bootstrap";
html {
}
body {
}
a, a:link, a:visited {
}
a:hover {
}
iframe {
}
ul {
}
li {
}
p {
}
form {
}
textarea, input {
}
input[type="submit"] {
}
input[type="submit"]:hover {
}
label {
}
h1, h2, h3, h4 {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h6 {
}
.wrapper {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
}
.main {
	top: 160px;
	position: relative;
}
.cleartop {
	padding-top: 250px;
}
.cleartop > div {
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.alignright {
	position: relative;
	right: 0px;
}
.anchor {
}
.anchor:after{
}
.anchor:hover {
}
.anchor:hover:after {
}
#nav {
}
#nav .hamburger,
#nav .mobile_super {
}
#nav ul {
}
#nav li {
}
#nav li:hover {
}
#nav li a {
}
#nav a, #nav a:link, #nav a:visited {
}
#nav a:hover {
}

#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover,
.sprite, #nav .sprite:hover {
}
#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover {
}
#nav .linkedin,
#nav .linkedin:hover {
}
#footer .linkedin,
#footer .linkedin:hover {
}
#nav .twitter,
#nav .twitter:hover {
}
#footer .twitter,
#footer .twitter:hover {
}
#nav .contact,
#nav .contact:hover {
}
#nav .bitbucket,
#nav .bitbucket:hover {
}
#footer .bitbucket,
#footer .bitbucket:hover {
}
#footer .wordpress,
#footer .wordpress:hover {
}
#footer .php,
#footer .php:hover {
}
#footer .youtube,
#footer .youtube:hover {
}
#footer .facebook,
#footer .facebook:hover {
}
#footer .nodejs,
#footer .nodejs:hover {
}
#footer .chrome,
#footer .chrome:hover {
}
.footer_title {
}
.content span {
}
.half {
}
.content {
}
.content span {
}
#sidebar {
}
#sidebar li {
}
#footer {
}
#footer .wrapper {
}
#footer > div {
}
#footer .sociallinks {
}
#footer .icons li {
}
#footer a {
}
#footer a:hover {
}
#footer .icons .social {
}
#footer .icons .social:hover {
}
#footer .nav {
}
#footer .nav li {
}
.copy {
}
.sidebar-margin {
  margin: 0 0 0 245px;
  transition: all 0.2s;
  &.sidebar-margin-collapsed{
    margin: 0;
    transition: all 0.2s;
  }
}
// button
.btn,
.hasAction,
button {
  &.loading {
    position: relative;
    cursor: wait;
    z-index: 0;
    &:before {
      content: " ";
      position: absolute;
      background: rgba(255, 255, 255, 0.7) url('../img/loading.gif') no-repeat center center;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}
// buttonend
// filter
.product-filter {
  position: fixed;
  top: 130px;
  width: 260px;
  z-index: 1029;
  color: #fff;
  float: left;
  height:100vh;
  // position: relative;
  // height: 10000px;
  .product-filter-label{
    font-weight: 600;
  }
  .product-filter-container {
    background: #333 !important;
    height: 100%;
    // display: none;
    padding: 1rem;
  }
  .product-filter-toggler {
    display: block;
    position: absolute;
    color: #fff;
    line-height: 25px;
    height: 25px;
    padding: 0 .2rem;
    cursor: pointer;
    left: 50%;
    margin-left: -24px;
    top: 0;
    z-index: 9999;
    // background-color: #666 !important;
    // right: -36px;
    // top: 10%;
    // transform: rotate(-90deg);
    &:before,&:after{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-top: 25px solid #292b2c;
      left: -13px;
      z-index: -1;
      top: 0;
    }
    &:after{
      right: -13px;
      left: auto;
    }
  }
  .priceslider-container{
    padding: 45px 0 5px 0;
    margin: 0 20px;
  }
  .priceslider-label {
    // padding: 40px 0 0 0;
  }
  .categoryselector li {
    cursor: pointer;
    display: inline-block;
    margin: 0 25px 0 0;
    position: relative;
    padding: 0 0 0 20px;
    &:before {content: "\2610";display: block;position: absolute;left: 0;width: 10px;height: 10px;}
    &.category-selected:before{
      content: "\2611"
    }
  }

}
@include media-breakpoint-down(md) {
  .product-filter{
    top: 54px;
    position: fixed;
    width: 100%;
    float: none;
    height: auto;
    .product-filter-container{
      display: none;
    }
    .product-filter-label{
      text-align: left !important;
      margin: 10px 0;
    }
    .product-filter-toggler{
      position: relative;
      display: inline-block;
      left: auto;
      margin-left: auto;
      transition: all 0.2s;
    }
  }
  .main {
  	top: 54px;
  	position: relative;
  }
  .sidebar-margin {
    margin: 0;
  }

}
// filter end
// products
.products{
  margin: 0 auto;
  .product{
    margin-bottom: 20px;
    width: 300px;
    position: relative;
    transition: 0.2s all;
    .product-inner{
      border: 1px solid #ebebeb;
      transition: 0.2s all;
      &:hover{
        box-shadow: 4px 5px 5px #ccc;
        top: -1px;
        left: -1px;
        position: absolute;
        transition: 0.2s all;
      }
    }
    .product-desc{
      padding: 10px;
    }
    h1 {
      font-size:1.4rem;
      margin:.5rem 0;
    }
    .product-img{
      width: 100%;
    }
    .product-price{
      font-weight: 600;
      font-size: 1.5rem;
      sup{
        font-size: 60%;
        left: -.3em;
      }
    }
  }
}
// products end
