@import "../variables";
@mixin breakpoint($breakpoint) {
  @if $breakpoint == "mp" {
    @media (max-width: 479px) {
      @content;
    }
  }
  @if $breakpoint == "mdm" {
    @media (max-width: 569px) {
      @content;
    }
  }
  @if $breakpoint == "ml" {
    // @media (min-width: 480px) and (max-width: 767px) {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "tp" {
    //@media (min-width: 768px) and (max-width: 1023px) {
    @media (max-width: 1039px) {
      @content;
    }
  }

  @else if $breakpoint == "tl" {
    // @media (min-width: 1024px) and (max-width: 1365px) {
    @media (max-width: 1365px) {
      @content;
    }
  }
  @else if $breakpoint == "default" {
    // @media (min-width: 1366px) and (max-width: 1599px) {
    @media (max-width: 1599px) {
      @content;
    }
  }
  @else if $breakpoint == "wide" {
    @media (min-width: 1599px) {
      @content;
    }
  }
  @if $breakpoint == "desktop" {
    @media not handheld {
      @content;
    }
  } 
  @else if $breakpoint == "mobile" {
    @media handheld {
      @content;
    }
  }
}
